*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-position: 100% bottom, 24px 0;
    background-position-x: auto,24px;
    background-repeat: no-repeat;
}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.primary-btn-2{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 17px 19px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.secondary-btn{
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 17px 19px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 51px;
}
.logo{
    font-size: 45px;
    padding-left: 226px;
    font-weight: 900;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: 230px;
}
.navigation ul{
    display: flex;
    font-size: 20px;
    width: 189px;
    justify-content: space-between;
    align-items: center;
}
.navigation li{
    list-style-type: none;
}
.navigation button{
    margin-left: 50px;
}
.header-content{
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.name{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.description{
    width: 585px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.cvdownload{
    margin-right: 30px;
}
.hardy{
    margin-right: 38px;
}

